<div class = "landing-page">
  <h1 class = "landing-page-header">Maintenance Tracker App</h1>
  <div class="login-control">
    <button>
      <%= link_to "LOG IN", new_user_session_path%>
    </button>
    <button>
      <%= link_to "SIGN UP", new_user_registration_path%>
    </button>
  </div>
</div>