<div class = "landing-page">
  <%= image_tag("backg.jpg") %>
  <div class="login-control d-flex f-col a-center j-center">
  <%= link_to "LOG IN", new_user_session_path%>
  <%= link_to "SIGN UP", new_user_registration_path%>
  </div>
</div>