<div class='user-container'>
    <div class='user'>
        <h1><%= "Number of Equipments: #{current_user.equipments.length}"%></h1>
        <h2><%="All repairs carried out: #{current_user.repairs.length}"%></h2>
    </div>
</div>