.landing-page {
  width: 100vw;
  height: 100vh;
}

.landing-page img {
  width: 99%;
  height: 100%;
}

.login-control {
  position: absolute;
  top: 50%;
  width: 50%;
  left: 25%;
  row-gap: 20px;
}

.login-control a {
  width: 100%;
  padding: 20px;
  background-color: transparent;
  border: 2px solid #fff;
  text-align: center;
  color: #fff;
  font-size: 25px;
  transition: ease-in 0.5s;
}

.login-control a:hover {
  background-color: rgb(51, 51, 153);
  border: none;
}
